/* Write your code here. */
body {
  margin: 0px;
  overflow: auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.h1 {
  font-family: roboto;
  font-size: 40px;
}

.box {
  text-align: center;
  font-family: Bree Serif;
  font-size: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.boxesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.small {
  background-color: #fbbf24;
  height: 60px;
  width: 60px;
}

.medium {
  background-color: #38bdf8;
  height: 120px;
  width: 120px;
}

.large {
  background-color: #ec4899;
  height: 240px;
  width: 240px;
}

@media (min-width: 768px) {
  .boxesContainer {
    flex-direction: row;
    align-items: flex-end;
  }
  .box {
    margin: 25px;
  }

  .small {
    height: 80px;
    width: 80px;
  }

  .medium {
    height: 160px;
    width: 160px;
  }

  .large {
    height: 320px;
    width: 320px;
  }
}
